/* Variables CSS */
:root {
  --background: #E5E0DB; /* Fondo de la página */
  --table-background: #E5E0DB; /* Fondo de la tabla */
  --primary: #3C2F2F; /* Color del título grande y primera fila */
  --text-color: #4A3E3E; /* Color del texto */
  --th-background: #D2AB90; /* Fondo de la primera fila de la tabla */
  --secondary: #C93600; /* Color destacado en interacciones */
}

/* General */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: var(--background);
  color: var(--text-color);
  overflow-x: hidden;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/foto1.jpg'); /* Ruta de la imagen */
  background-size: cover;
  background-position: center;
  
  z-index: -1;
  filter: blur(8px); /* Aplica el efecto borroso */
  pointer-events: none; /* Asegura que no interfiera con clics */
}


/* Título estilizado */
.caption h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: var(--background);
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-shadow: 2px 2px 4px rgba(114, 92, 58, 0.4);
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tabla */
.table-widget {
  border-radius: 1rem;
  background: var(--table-background);
  padding: 2rem;
  color: var(--text-color);
  width: 90%;
  max-width: 1200px;
  overflow-x: auto;
  margin: 2rem auto;
}

.table-widget table {
  width: 100%;
  border-collapse: collapse;
}

.table-widget th, .table-widget td {
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
}

/* Encabezados mejorados */
.table-widget th {
  font-size: 1.2rem;
  color: var(--primary);
  background-color: var(--th-background);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.table-widget td {
  background: transparent;
}

/* Hover en las filas de la tabla */
.table-widget tbody tr:hover {
  cursor: pointer;
  background: #DCCFB9;
  color: var(--text-color);
}

/* Fondo principal */
.home-section {
  position: relative;
  background: url();
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
}

/* Botones */
.custom-button1, .custom-button2, .custom-button3 {
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button1 {
  background-color: #90EE90;
}

.custom-button1:hover {
  background-color: #32CD32;
}

.custom-button2 {
  background-color: #fc8989;
}

.custom-button2:hover {
  background-color: #fe4444;
}

.custom-button3 {
  background-color: #ADD8E6;
}

.custom-button3:hover {
  background-color: #1E90FF;
}

.button-container {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  gap: 5px;
}

/* Inputs para productos */
.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0;
  max-width: 200px;
  position: relative;
  flex-shrink: 0;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}


.inputGroup :is(input:hover, input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: var(--background);
  border-radius: 0.5em; /* Esquinas redondeadas */
}


.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(150, 150, 200);
}

.Buttons {
  display: flex; /* Alinea los elementos en una fila */
  gap: 10px; /* Espaciado entre botones e input */
  align-items: center; /* Alinea verticalmente los elementos */
  justify-content: center; /* Centra los elementos horizontalmente */
  margin-top: 20px; /* Ajusta el margen superior si es necesario */
}

/*modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
}

.modal-content {
  background: var(--background);
  margin: 5% auto;
  padding: 25px 35px;
  border-radius: 25px;
  width: 60%;
  max-width: 700px;
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.6);
  position: relative;
  animation: slideDown 0.5s ease-out;
  border: 3px solid var(--primary);
}

.modal-content h2 {
  font-size: 2rem;
  color: var(--primary);
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-color);
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.close-button:hover {
  color: var(--secondary);
  transform: scale(1.2);
}

.modal-content input, .modal-content select, .modal-content textarea {
  width: calc(100% - 20px);
  padding: 12px;
  margin: 15px 0;
  border: 2px solid var(--primary);
  border-radius: 12px;
  font-size: 1.1rem;
  background: var(--th-background);
  color: var(--text-color);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.modal-content input:focus, .modal-content select:focus, .modal-content textarea:focus {
  border-color: var(--secondary);
  box-shadow: 0 0 8px var(--secondary);
  outline: none;
}

.modal-content .modal-button {
  display: block;
  background-color: var(--secondary);
  color: white;
  padding: 14px 25px;
  border: none;
  border-radius: 12px;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 25px auto 0;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 60%;
}

.modal-content .modal-button:hover {
  background-color: #a72b00;
  transform: translateY(-3px);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*FIN MODAL*/


/* Lista de productos en el modal */
#productList {
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid var(--primary);
  border-radius: 8px;
  margin: 15px 0;
}

#productList li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#productList li:hover {
  background-color: #f0f0f0;
}

#productList li.selected {
  background-color: var(--secondary);
  color: white;
}

/* Ajustes específicos para el modal de añadir cantidad */
#addQuantityModal .modal-content {
    text-align: center;
}

/* Estilos específicos para el modal de categorías */
.category-section {
  margin-bottom: 20px;
  padding: 15px;
  background-color: var(--th-background);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category-section h3 {
  margin-top: 0;
  font-size: 1.4rem;
  color: var(--primary);
  border-bottom: 2px solid var(--secondary);
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.category-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid var(--primary);
  border-radius: 8px;
  background-color: var(--background);
}

.category-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 5px;
  background-color: var(--th-background);
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.category-list li:hover {
  background-color: var(--secondary);
  color: white;
}

.delete-category-btn {
  padding: 6px 10px;
  font-size: 0.9rem;
  background-color: var(--secondary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete-category-btn:hover {
  background-color: #a72b00;
  transform: scale(1.1);
}

#addCategoryForm .inputGroup {
  margin-bottom: 15px;
}

#addCategoryForm button {
  display: block;
  width: 100%;
  padding: 10px 15px;
  font-size: 1rem;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#addCategoryForm button:hover {
  background-color: var(--secondary);
  transform: translateY(-2px);
}

/* Estilos específicos para el modal de categorías */
#manageCategoriesModal .modal-content {
  background: var(--background);
  border: 2px solid var(--primary);
  border-radius: 15px;
  padding: 20px 30px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#manageCategoriesModal h2 {
  font-size: 1.8rem;
  color: var(--primary);
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Estilos para el modal de editar producto */
#editProductModal .modal-content {
  background: var(--background);
  border: 2px solid var(--primary);
  border-radius: 15px;
  padding: 20px 30px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#editProductModal h2 {
  font-size: 1.8rem;
  color: var(--primary);
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

#editProductModal label {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 5px;
  display: block;
}

#editProductModal input,
#editProductModal textarea,
#editProductModal select {
  width: calc(100% - 20px);
  padding: 12px;
  margin: 10px 0 20px;
  border: 2px solid var(--primary);
  border-radius: 12px;
  font-size: 1rem;
  background: var(--th-background);
  color: var(--text-color);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#editProductModal input:focus,
#editProductModal textarea:focus,
#editProductModal select:focus {
  border-color: var(--secondary);
  box-shadow: 0 0 8px var(--secondary);
  outline: none;
}

#editProductModal .modal-button {
  display: block;
  background-color: var(--secondary);
  color: white;
  padding: 14px 25px;
  border: none;
  border-radius: 12px;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 25px auto 0;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 60%;
}

#editProductModal .modal-button:hover {
  background-color: #a72b00;
  transform: translateY(-3px);
}